# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [48]:
!pip install -U scipy

Requirement already satisfied: scipy in c:\users\pbevi\anaconda3\lib\site-packages (1.9.3)
Requirement already satisfied: numpy<1.26.0,>=1.18.5 in c:\users\pbevi\anaconda3\lib\site-packages (from scipy) (1.21.5)

In [49]:
import scipy.stats as st

In [50]:
import pandas as pd
import numpy as np

In [51]:
# import numpy and pandas

In [52]:
salaries = pd.read_csv('../data/Salaries.csv')

C:\Users\pbevi\AppData\Local\Temp\ipykernel_27524\457430020.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries = pd.read_csv('../data/Salaries.csv')

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [53]:
# Your code here:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Examine the `salaries` dataset using the `head` function below.

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [55]:
# Your code here:

In [14]:
salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [15]:
# Your code here

In [16]:
salaries.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [17]:
# Your code here

In [18]:
salaries=salaries.drop(['Notes'], axis=1)
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT

In [56]:
salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [57]:
# Your code here

In [58]:
salaries['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

In [59]:
salaries=salaries.dropna(subset=['Status'])

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [60]:
salaries['Status'].unique()

array(['PT', 'FT'], dtype=object)

In [61]:
# Your code here

In [62]:
salaries.isna().sum()

Id                      0
EmployeeName            0
JobTitle                0
BasePay                 0
OvertimePay             0
OtherPay                0
Benefits                0
TotalPay                0
TotalPayBenefits        0
Year                    0
Notes               38119
Agency                  0
Status                  0
dtype: int64

Check out the types of each column and see if they make sense.

In [63]:
# Your code here

In [64]:
salaries.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

In [65]:
# Your code here

In [66]:
salaries['BasePay'] = pd.to_numeric(salaries['BasePay'])
salaries['OvertimePay'] = pd.to_numeric(salaries['OvertimePay'])
salaries['OtherPay'] = pd.to_numeric(salaries['OtherPay'])
salaries['Benefits'] = pd.to_numeric(salaries['Benefits'])
salaries.head()

C:\Users\pbevi\AppData\Local\Temp\ipykernel_27524\1283701229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries['BasePay'] = pd.to_numeric(salaries['BasePay'])
C:\Users\pbevi\AppData\Local\Temp\ipykernel_27524\1283701229.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries['OvertimePay'] = pd.to_numeric(salaries['OvertimePay'])
C:\Users\pbevi\AppData\Local\Temp\ipykernel_27524\1283701229.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries['OtherPay'] = pd.to_numeric(salaries['OtherPay'])
C:\Users\pbevi\AppData\Local\Temp\ipykernel_27524\1283701229.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries['Benefits'] = pd.to_numeric(salaries['Benefits'])

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,NaN,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,FT

In [67]:
salaries.reset_index()

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT
1,110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,FT
2,110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,NaN,San Francisco,PT
3,110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT
4,110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
38115,148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
38116,148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
38117,148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
38118,148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [68]:
salaries.reset_index(drop=True)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,NaN,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
38115,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
38116,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
38117,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
38118,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

Do any type conversions and reset the index.

In [69]:
salaries_tb=salaries["TotalPayBenefits"]==salaries["BasePay"]+salaries["OvertimePay"]+salaries["OtherPay"]+salaries["Benefits"]
salaries_tb

110531     True
110532    False
110533     True
110534    False
110535     True
          ...
148645     True
148647     True
148648     True
148649     True
148653     True
Length: 38119, dtype: bool

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

What is the percetage of employees for which the previous assumption is not True?

In [70]:
salaries_tb.value_counts(normalize=True) * 100

True     73.708649
False    26.291351
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [71]:
salaries_gb = salaries.groupby(['JobTitle'])['EmployeeName'].count()
display(salaries_gb)

JobTitle
ACPO,JuvP, Juv Prob (SFERS)        1
ASR Senior Office Specialist      22
ASR-Office Assistant              15
Account Clerk                     93
Accountant I                       2
                                  ..
Wire Rope Cable Maint Sprv         1
Worker's Comp Supervisor 1         6
Worker's Compensation Adjuster    26
X-Ray Laboratory Aide             35
Youth Comm Advisor                 1
Name: EmployeeName, Length: 996, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [86]:
# Your code here: (compute the "Hourly_Wage")

In [87]:
salaries['Hourly_Wage'] = salaries['TotalPayBenefits']/50/40
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Hourly_Wage
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT,255.366340
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,FT,239.826105
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,NaN,San Francisco,PT,218.112180
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT,209.009610
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,FT,208.717550

In [88]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [94]:
hw_ft = salaries[salaries['Status']=='FT']['Hourly_Wage']
hw_ft_mean = np.mean(hw_ft)
hw_ft_mean

69.264206407271

In [85]:
hw_ft.head()

110532    239.826105
110534    209.009610
110535    208.717550
110536    207.883970
110537    200.535435
Name: Hourly_Wage, dtype: float64

In [76]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [79]:
hw_ft.shape

(22334,)

In [77]:
# H0:  sample_mean <= population_mean
# H1:  sample_mean >  population_mean

In [96]:
t_statistic=(hw_ft_mean -75)/(np.std(hw_ft, ddof=1)/np.sqrt(len(hw_ft)))
t_statistic

-35.80631941460788

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [103]:
#q=0.025
#degrees of freedom= 22333
degf=len(hw_ft) -1
degf

22333

In [101]:
st.t.ppf(q=0.025,df=22333)

-1.9600702128845597

#### t-stat < Critical value so we reject H0. Salary is not 75 dollar per hour.

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [104]:
st.t.cdf(t_statistic, degf)

2.2589156167195097e-273

#### pvalue < 0.025 so we reject H0.

In [105]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [110]:
st.ttest_1samp(hw_ft, popmean=75,alternative = "two-sided")

Ttest_1sampResult(statistic=-35.80631941460526, pvalue=4.517831233839448e-273)

Are all the methods in agreement?

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [122]:
police_sl= salaries.loc[salaries['JobTitle'].str.contains("Police", case=False)]
police_sl.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Hourly_Wage
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT,209.009610
110617,110618,Jay K Dowke,Police Officer 3,100148.75,15716.42,152037.57,33847.07,267902.74,301749.81,2014,NaN,San Francisco,PT,150.874905
110674,110675,Sam W Yuen,Police Officer 2,116584.02,115346.62,18834.23,38350.08,250764.87,289114.95,2014,NaN,San Francisco,FT,144.557475
110712,110713,Malcolm S Fong,Police Officer 3,118898.14,109310.13,12557.94,39456.55,240766.21,280222.76,2014,NaN,San Francisco,FT,140.111380
110831,110832,Murray P Daggs,Police Officer 3,118898.13,98583.98,10919.81,38833.08,228401.92,267235.00,2014,NaN,San Francisco,FT,133.617500

In [129]:
Police_sl['JobTitle'].value_counts()

Police Officer 3                  783
Police Officer                    554
Police Officer 2                  335
Community Police Services Aide    203
Institutional Police Officer       12
Sergeant, (Police Department)       9
Institutional Police Sergeant       2
Chief of Police                     1
Inspector, (Police Department)      1
Lieutenant (Police Department)      1
Name: JobTitle, dtype: int64

In [130]:
Police_sl['Year'].value_counts()

2014    1901
Name: Year, dtype: int64

In [136]:
Police_sl_mean = Police_sl[(Police_sl['Year']== 2014)]
Police_sl_mean

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Hourly_Wage
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT,209.009610
110617,110618,Jay K Dowke,Police Officer 3,100148.75,15716.42,152037.57,33847.07,267902.74,301749.81,2014,NaN,San Francisco,PT,150.874905
110674,110675,Sam W Yuen,Police Officer 2,116584.02,115346.62,18834.23,38350.08,250764.87,289114.95,2014,NaN,San Francisco,FT,144.557475
110712,110713,Malcolm S Fong,Police Officer 3,118898.14,109310.13,12557.94,39456.55,240766.21,280222.76,2014,NaN,San Francisco,FT,140.111380
110831,110832,Murray P Daggs,Police Officer 3,118898.13,98583.98,10919.81,38833.08,228401.92,267235.00,2014,NaN,San Francisco,FT,133.617500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148312,148313,Jerome J Alamil,Police Officer,309.90,0.00,0.00,64.52,309.90,374.42,2014,NaN,San Francisco,PT,0.187210
148409,148410,Dennis V Cravalho,Police Officer,0.00,0.00,242.66,0.00,242.66,242.66,2014,NaN,San Francisco,PT,0.121330
148437,148438,Elizabeth A Maron,Police Officer 3,0.00,0.00,212.39,0.00,212.39,212.39,2014,NaN,San Francisco,PT,0.106195
148506,148507,Patricia O Williams,Community Police Services Aide,0.00,0.00,134.78,0.00,134.78,134.78,2014,NaN,San Francisco,PT,0.067390
148561,148562,Marshall Robles,Community Police Services Aide,0.00,0.00,59.59,10.78,59.59,70.37,2014,NaN,San Francisco,PT,0.035185

In [138]:
Police_sl_mean['TotalPayBenefits'].mean()

148349.04212519721

In [140]:
Police_2014_tbenefits=Police_sl['TotalPayBenefits']

#The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year for all salaried employees (use the column "TotalPayBenefits". 
confidance level=95%
H0->Salaries this year> last year mean
h1-> Salaries mean last year> salaries this year

In [145]:
t_statistic=(Police_sl_mean['TotalPayBenefits'].mean()-86000)/(np.std(Police_2014_tbenefits,ddof=1)/np.sqrt(len(Police_2014_tbenefits)))
t_statistic

50.252984742109916

t_statistic between confidance level so we accept H0

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [142]:
#q=0.05
#degrees of freedom= 1900
degf=len(Police_2014_tbenefits) -1
degf

1900

In [143]:
st.t.ppf(q=0.05,df=1900)

-1.645656004264731

#### t-stat > Critical value so we accept H0

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [146]:
st.t.cdf(t_statistic, degf)

1.0

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [150]:
st.ttest_1samp(Police_2014_tbenefits, popmean=86000,alternative = "two-sided")

Ttest_1sampResult(statistic=50.252984742109945, pvalue=0.0)

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# Your code here: (Get the department which has most employees)

In [152]:
salaries['JobTitle'].value_counts() #Transit Operator

Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
                                ...
Claims Process Clerk               1
Asst Dir, Log Cabin Rnch           1
Media Production Specialist        1
Chf Prob Ofc, Juv Court            1
Electric Motor Repair Sprv 1       1
Name: JobTitle, Length: 996, dtype: int64

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [155]:
df_Transit_Operator = salaries[(salaries['JobTitle']=='Transit Operator')]
df_Transit_Operator

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Hourly_Wage
113754,113755,Nancy Padilla,Transit Operator,70636.56,78492.00,6636.63,38481.57,155765.19,194246.76,2014,NaN,San Francisco,FT,97.123380
114068,114069,Louis E Galarce,Transit Operator,71278.32,73221.72,6785.53,38861.51,151285.57,190147.08,2014,NaN,San Francisco,FT,95.073540
114297,114298,Duane Allen,Transit Operator,70029.28,69941.99,8592.74,38733.41,148564.01,187297.42,2014,NaN,San Francisco,FT,93.648710
114911,114912,Jaime O Olivar,Transit Operator,68842.56,65726.67,8828.06,38206.75,143397.29,181604.04,2014,NaN,San Francisco,FT,90.802020
115422,115423,Freeman Chee,Transit Operator,69777.22,60584.96,8146.38,38480.23,138508.56,176988.79,2014,NaN,San Francisco,FT,88.494395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148211,148212,Brelyn S Moody,Transit Operator,340.62,113.54,0.00,96.40,454.16,550.56,2014,NaN,San Francisco,PT,0.275280
148225,148226,Erris C Edgerly,Transit Operator,0.00,0.00,400.00,115.28,400.00,515.28,2014,NaN,San Francisco,PT,0.257640
148398,148399,Shane O'Connor,Transit Operator,151.38,56.77,0.00,42.84,208.15,250.99,2014,NaN,San Francisco,PT,0.125495
148463,148464,William Tam,Transit Operator,148.78,0.00,0.00,40.65,148.78,189.43,2014,NaN,San Francisco,PT,0.094715
148621,148622,Kenneth Mackey,Transit Operator,0.00,0.00,15.35,0.00,15.35,15.35,2014,NaN,San Francisco,PT,0.007675

In [156]:
df_Transit_Operator_hw=df_Transit_Operator['Hourly_Wage']
df_Transit_Operator_hw

113754    97.123380
114068    95.073540
114297    93.648710
114911    90.802020
115422    88.494395
            ...
148211     0.275280
148225     0.257640
148398     0.125495
148463     0.094715
148621     0.007675
Name: Hourly_Wage, Length: 2479, dtype: float64

confidance level=95%
H0->Salaries of Transit_Operator<35/h
h1->Salaries of Transit_Operator>35/h

In [159]:
t_statistic_to=(df_Transit_Operator['Hourly_Wage'].mean()-35)/(np.std(df_Transit_Operator_hw,ddof=1)/np.sqrt(len(df_Transit_Operator_hw)))
t_statistic_to

19.064990324906553

t statistic>0.05 so we accept H0, hourly wage is less than 35

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [161]:
#q=0.05
#degrees of freedom= 2478
degf=len(df_Transit_Operator_hw) -1
degf

2478

In [163]:
Criticalvalue_op=st.t.ppf(q=0.05,df=2478)
Criticalvalue_op

-1.6454687772470247

In [ ]:
t-stat > Critical value so we accept H0

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [164]:
st.t.cdf(t_statistic_to, 2478)

1.0

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [166]:
st.ttest_1samp(df_Transit_Operator_hw, popmean=35,alternative = "two-sided")

Ttest_1sampResult(statistic=19.064990324906383, pvalue=1.0025543388408414e-75)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [ ]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [168]:
data=salaries['Hourly_Wage']

In [171]:
st.t.interval(alpha=0.95, df=len(data)-1, loc=np.mean(data), scale=st.sem(data))

C:\Users\pbevi\AppData\Local\Temp\ipykernel_27524\531406371.py:1: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  st.t.interval(alpha=0.95, df=len(data)-1, loc=np.mean(data), scale=st.sem(data))

(49.798255413084014, 50.46318325529486)

In [172]:
data.mean()

50.130719334189436

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [ ]:
# Your code here:

In [173]:
Police_hw=Police_sl['Hourly_Wage']

In [174]:
st.t.interval(alpha=0.95, df=len(Police_hw)-1, loc=np.mean(Police_hw), scale=st.sem(Police_hw))

C:\Users\pbevi\AppData\Local\Temp\ipykernel_27524\2876679618.py:1: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  st.t.interval(alpha=0.95, df=len(Police_hw)-1, loc=np.mean(Police_hw), scale=st.sem(Police_hw))

(72.9578791736444, 75.3911629515526)

In [175]:
Police_hw.mean()

74.1745210625985

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [185]:
#function

def job(x):
    
    if "Police" in x:
        return "Policemen"
    elif "Fire" in x:
        return "Fireman"
    elif "Med"  in x:
         return "Medical"
    elif "Nurse" in x:   
        return "Medical"  
    elif "Attorney" in x:
        return "Lawyer"
    else:
        return "Other"

In [186]:
salaries['employee_group'] = list(map(job, salaries['JobTitle']))
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Hourly_Wage,employee_group
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT,255.366340,Other
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,FT,239.826105,Medical
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,NaN,San Francisco,PT,218.112180,Other
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT,209.009610,Policemen
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,FT,208.717550,Fireman

Determine how many "PT" and "FT" employess have all the employees groups.

In [ ]:
# Your code here: (Store the output dataframe into a new variable)

In [189]:
eg_crosstab=pd.crosstab(salaries['employee_group'],salaries['Status'])
eg_crosstab

Status             FT     PT
employee_group
Fireman          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [ ]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [188]:
frequencies=pd.DataFrame()

In [196]:
total_FT = eg_crosstab['FT'].sum()
total_PT = eg_crosstab['PT'].sum()
total = total_FT + total_PT

total_f=1333+178
total_l=317+102
total_m=1028+2889
total_o=18126+12245
total_p=1530+371

In [ ]:
#I searched in how to transform the crosstab to access and make easier the calculations below but could not find on time

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [199]:
firemen_ft= (total_f*total_FT)/total
firemen_ft

885.2979878800598

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [200]:
firemen_pt= (total_f*total_PT)/total
firemen_pt

625.7020121199402

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [201]:
lawyers_ft= (total_l*total_FT)/total
lawyers_ft

245.4929562685275

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [202]:
lawyers_pt= (total_l*total_PT)/total
lawyers_pt

173.5070437314725

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [203]:
medical_ft= (total_m*total_FT)/total
medical_ft

2294.978304782392

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [204]:
medical_pt= (total_m*total_PT)/total
medical_pt

1622.021695217608

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [205]:
other_ft= (total_o*total_FT)/total
other_ft

17794.430966184842

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [206]:
other_pt= (total_o*total_PT)/total
other_pt

12576.569033815158

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [208]:
policemen_ft= (total_p*total_FT)/total
policemen_ft

1113.7997848841785

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

In [209]:
policemen_pt= (total_p*total_PT)/total
policemen_pt

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [212]:
ft_list = [firemen_ft, lawyers_ft, medical_ft, other_ft, policemen_ft]
pt_list = [firemen_pt, lawyers_pt, medical_pt, other_pt, policemen_pt]

frequencies = pd.DataFrame({'FT' : ft_list,
                            'PT' : pt_list})
frequencies

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [ ]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [213]:
st.chi2_contingency(frequencies, correction=True, lambda_=None)

(0.0,
 1.0,
 4,
 array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [ 2294.97830478,  1622.02169522],
        [17794.43096618, 12576.56903382],
        [ 1113.79978488,   787.20021512]]))

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function